body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 10px;
    text-align: center;
    margin-top: 30px;
}
header{
    position: absolute;
    position: fixed;
    top: 0%;
    width: 99%;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 10px;
    align-items: center;
    z-index: 2;
}
h1{
    margin-left: 50px;
    font-size: 50px;
}
header a{
    color: black;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
}
hr{
    position: relative; 
    top: 251px; 
    height: 1.3px; 
    background-color: black;
}
img{
    width: 200px;
}
.aaa:hover{
    color: white;
    background-color: black;
}
.flex1{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
}
.aa img{
    position: relative;
    bottom: 0;
    transition-duration: 1s;
    transition-property: all;
}
.aa:hover img{
    content: url("./Img_1.png");
    bottom: 30px;
}
.aa:hover .c{
    color: rgb(163, 156, 156);   
}

.bb img{
    position: relative;
    bottom: 0;
    transition-duration: 1s;
    transition-property: all;
}
.bb:hover img{
    content: url("./Img-Il-Biscotto-Sbrisolotto_\(600x600\).png");
    bottom: 30px;
}
.bb:hover .c{
    color: rgb(163, 156, 156);   
}
.cc img{
    position: relative;
    bottom: 0;
    transition-duration: 1s;
    transition-property: all;
}
.cc:hover img{
    content: url("./Img_Il-Biscotto-Gocciolato_\(600x600\).png");
    bottom: 30px;
}
.cc:hover .c{
    color: rgb(163, 156, 156);   
}
.dd img{
    position: relative;
    bottom: 0;
    transition-duration: 1s;
    transition-property: all;
}
.dd:hover img{
    content: url("./Img_Il-Biscotto-Frollino_\(600x600\).png");
    bottom: 30px;
}
.dd:hover .c{
    color: rgb(163, 156, 156);   
}
.flex2{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    margin: 60px;
    margin-top: 60px;
}
.ee:hover .c{
    color: rgb(163, 156, 156);   
}
.ee img{
    position: relative;
    bottom: 0;
    transition-duration: 1s;
    transition-property: all;
}
.ee:hover img{
    content: url("./Img_Il-Biscotto-Arancia-e-Nocciola_\(600x600\).png");
    bottom: 30px;
}
.ff img{
    position: relative;
    bottom: 0;
    transition-duration: 1s;
    transition-property: all;
}
.ff:hover img{
    content: url("./Img_Il-Biscotto-al-Limone_\(600x600\).png");
    bottom: 30px;
}
.ff:hover .c{
    color: rgb(163, 156, 156);   
}
.gg img{
    position: relative;
    bottom: 0;
    transition-duration: 1s;
    transition-property: all;
}
.gg:hover img{
    content: url("./Img-Il-Biscotto-Sbrisolotto_\(600x600\).png");
    bottom: 30px;
}
.gg:hover .c{
    color: rgb(163, 156, 156);   
}
footer{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;
    background-color: gainsboro;
    padding: 10px;
    line-height: 20px;
}